<h3> {{heading}} </h3>

<ul>
   {{#each hbsObject.items}}

      <li> {{@index}}.   {{this}} </li>

   {{/each}}
</ul>
{{#with comment.comment1}}
<h5> {{comment_data}} </h5>
<p>
   {{comment_date}}
</p>
{{/with}}

{{#with admin}}
<h3> {{heading}} </h3>
<p>
   {{#if auth}}
   you are admin
   {{else}}
   you are not admin
   {{/if}}
</p>
{{/with}}