<h3> {{heading}} </h3>

<ul>
   {{#each hbsObject.items}}

      <li> {{@index}}.   {{this}} </li>

   {{/each}}
</ul>

<h5> {{comment.comment1.comment_data}} </h5>
<p>
   {{comment.comment1.comment_date}}
</p>

<h3> {{admin.heading}} </h3>

<p>
   {{#if admin.auth}}
   you are admin
   {{else}}
   you are not admin
   {{/if}}
</p>